a {margin: 20px;}
.shapka
{text-align: center;}

.verx
{margin: 30px; height: 120px; 
}
.simvol
{    float: left;
    width: 270px;text-align: left;
font-size: 14px;
}
li{
    list-style: none;
}
.color
{color:#757575;}

    p
    {text-align: center;}

